<nb-card>
  <nb-card-header>Add Khushu App User</nb-card-header>
  <nb-card-body>

<form #f="ngForm" (ngSubmit)="onSubmitAdd(f)" novalidate>
  <!-- <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" name="=name"><br> -->
  <!-- Selection for edit user -->
  <!-- <select name="uid" >
      <option *ngFor="let user of usersObservable$ | async">{{user??.email}}</option>
    </select><br> -->
  <div class="form-group">
    <label for="email">Email</label>
    <input [type]="email" pattern="[a-zA-Z ]*" class="form-control" name='email' ngModel><br>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" name='country' ngModel><br>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" name='address' ngModel><br>
  </div>



  <label for="phoneNumber"></label>
  <input type="text" name="phone" class="form-control input" placeholder="+8801953******" ngModel>


  <div id="recaptcha-container"></div>
  <div class="form-group">
    <div class='addButton' (click)="onSubmitAdd(f); sendLoginCode();">Add User</div>
  </div>
</form>

<div>
  <label for="code">Enter Your Verification Code Here</label>
  <input type="text" name="code" [(ngModel)]="auth.verificationCode" class="form-control">
  <div class='addButton' (click)="verifyLoginCode()">Verify</div>
</div>



  </nb-card-body>
</nb-card>
