<div class="form-group d-flex flex-column">
  <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="email">
  <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="password">
</div>
<button class="btn btn-lg btn-outline-secondary" (click)="auth.emailSignIn(email, password)">
  <i class="fa fa-email"></i> Sign In with Email Password
</button>
