<div class="d-flex justify-content-center mt-5" style="width: 100%">
  <div style="width: 40%; min-width: 400px;">
    <nb-card>
      <nb-card-header>Add Masjid</nb-card-header>
      <nb-card-body>
        <div class="danger" style="color: red" *ngIf="name.touched && data.name === ''"> Please Enter A Valid Name!
          </div>
            <div class="input-group">
          <input type="text" #name="ngModel" placeholder="Masjid Name" name="name" [(ngModel)]="data.name"
            class="form-control" />
        </div>

        <div class="danger" style="color: red" *ngIf="address.touched && data.address === ''"> Please Enter A Valid
          Address!</div>
        <div class="input-group">
          <input type="text" #address="ngModel" placeholder="Masjid Address" name="address" [(ngModel)]="data.address"
            class="form-control" />
        </div>
        <div class="danger" style="color: red" *ngIf="email.touched && data.email === ''"> Please Enter A Valid E-mail!
        </div>
        <div class="input-group">
          <input type="email" #email="ngModel" placeholder="User E-mail" name="email" [(ngModel)]="data.email"
            class="form-control" />
        </div>
        <div class="danger" style="color: red" *ngIf="zipCode.touched && data.zipCode === '' || data.zipCode.length > 4"> Please Enter A Valid Zip
          Code!</div>
        <div class="input-group">
          <input type="text" #zipCode="ngModel" placeholder="Zip Code" name="zipCode" [(ngModel)]="data.zipCode"
            class="form-control" />
        </div>
        <div class="danger" style="color: red" *ngIf="city.touched && data.city === ''"> Please Enter A Valid City!
        </div>
        <div class="input-group">
          <input type="text" #city="ngModel" placeholder="City" name="city" [(ngModel)]="data.city"
            class="form-control" />
        </div>
        <div class="danger" style="color: red" *ngIf="state.touched && data.state === ''"> Please Enter A Valid State!
        </div>
        <div class="input-group">
          <input type="text" #state="ngModel" placeholder="State" name="state" [(ngModel)]="data.state"
            class="form-control" />
        </div>
        <div class="danger" style="color: red" *ngIf="country.touched && data.country === ''"> Please Enter A Valid
          Country!</div>
        <div class="input-group">
          <input type="text" #country="ngModel" placeholder="Country" name="country" [(ngModel)]="data.country"
            class="form-control" />
        </div>
        <div class="danger" style="color: red" *ngIf="image.touched && data.photoURL === ''"> Please Enter A Valid
          Photo URL!</div>
        <div class="input-group">
          <input type="text" #image="ngModel" placeholder="Image" [(ngModel)]="data.photoURL" class="form-control" />
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <div class="button cancelButton">Cancel</div>
        <div
        *ngIf="data.address !== '' &&
        data.city !== '' &&
        data.country !== '' &&
        data.email !== '' &&
        data.name !== '' &&
        data.zipCode !== '' &&
        data.zipCode.length < 5 &&
        data.state !== '' &&
        data.photoURL !== ''
        "
        class="addButton" (click)="onSubmitAdd()">Add Masjid</div>

        <div
        *ngIf="data.address === '' ||
        data.city === '' ||
        data.country === '' ||
        data.email === '' ||
        data.name === '' ||
        data.zipCode === '' ||
        data.zipCode.length > 4 ||
        data.state === '' ||
        data.photoURL === ''
        "
        class="addButtonDisable">Add Masjid</div>

      </nb-card-footer>
    </nb-card>
  </div>
</div>
