<div *ngIf="modalView" class="d-flex justify-content-center align-items-center"
  style="width: 100vw;top: 0px; left: 0px; height: 100vh; position: fixed; overflow: scroll; z-index: 99;">
  <div (click)="modalToggle()" style="width: 100vw;top: 0px; left: 0px; height: 100vh; position: fixed; overflow: scroll; z-index: 99; background-color: rgba(0, 0, 0, 0.144);"></div>
  <div class="editModal" style="background-color: white; width: 45vw;height:615px; z-index: 100;
  box-shadow: 5px 7px 5px -1px rgba(168,168,168,0.50);">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-end">
        <button (click)="modalToggle()"
          style="width:5%;padding:10px; background-color: white; border: none; cursor: pointer; outline: none">X</button>
      </div>
      <div class="d-flex flex-column align-items-center" style="margin-top: 10px; height: 100%; width: 100%">
        <div style="width: 90%">


          <!-- <div class="form-group">Name: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.name">
          </div>
          <div class="form-group">E-mail: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.email">
          </div>
          <div class="form-group">City : <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.city">
          </div>
          <div class="form-group">Country: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.country">
          </div>
          <div class="form-group">State: <input class="form-control"
            style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.state">
        </div>
          <div class="form-group">Address: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.address">
          </div>
          <div class="form-group">Zip Code: <input class="form-control"
            style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.zipCode">
        </div>
        <div class="form-group">Photo URL: <input class="form-control"
          style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="salahEdit.photoURL">
      </div> -->


      <form #f="ngForm" novalidate>

          <div class="form-group">
            <label for="salah">Salah</label>
            <input type="text" class="form-control" name='salah' [(ngModel)]="salahEdit.name"><br>
          </div>
          <div class="form-group">
            <label for="stime">Start Time</label>
            <input type="time" class="form-control" name='stime' [(ngModel)]="salahEdit.startTime">
          </div>
          <div class="form-group">
            <label for="etime">End Time</label>
            <input type="time" class="form-control" name='etime' [(ngModel)]="salahEdit.endTime"><br>
          </div>
          <div class="form-group">
            <label for="stime">Start Date</label> <br>
            <input class="form-control" nbInput placeholder="Form Picker" [nbDatepicker]="startDate" name='sdate' [(ngModel)]="salahEdit.startDate">
            <nb-datepicker #startDate></nb-datepicker>
          </div>
          <div class="form-group">
            <label for="etime">End Date</label><br>
            <input class="form-control" nbInput placeholder="Form Picker" [nbDatepicker]="endDate" name='edate' [(ngModel)]="salahEdit.endDate">
            <nb-datepicker #endDate></nb-datepicker>
          </div>
          <div class="form-group">
            <label for="masjid">Masjid</label>
            <select name='m_name' class="form-control" ngModel>
              <option *ngFor="let masajid of verifiedMasajid" [value]="masajid.id">{{masajid.data.name}}</option>
            </select>
          </div>

          <div class="form-group d-flex flex-row flex-wrap justify-content-center">
            <div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.mon"
                (click)="changeDate('mon')">Mon</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.tue"
                (click)="changeDate('tue')">Tue</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.wed"
                (click)="changeDate('wed')">Wed</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.thu"
                (click)="changeDate('thu')">Thu</div>
            </div>
            <div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.fri"
                (click)="changeDate('fri')">Fri</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.sat"
                (click)="changeDate('sat')">Sat</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.sun"
                (click)="changeDate('sun')">Sun</div>
            </div>
          </div>
        </form>


        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info" (click)="saveEditedSalah()">Edit Salah</button>
      </div>
    </div>
  </div>
</div>





<!--Data Analysis -->
<nb-card class="d-flex justify-content-center mb-4">
  <nb-card-header>Data Analysis</nb-card-header>
  <div class="d-flex flex-row justify-content-around flex-wrap mt-2">
      <div class="d-flex align-items-center mb-2 mx-3 pt-3 pb-3">
        <nb-card
          style="background-color: #ed5565;
  color: white;
  width: 50px;
  height: 50px;
  padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">40</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">Total Salah</div>
      </div>
      <div class="d-flex align-items-center mb-2 mx-3  pt-3 pb-3">
        <nb-card
          style="background-color: #0E92D0;
    color: white;
    width: 50px;
    height: 50px;
    padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">20</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">AVG. Salah per Masjid</div>
      </div>
      <div class="d-flex align-items-center mb-2 mx-3 pt-3 pb-3">
        <nb-card
          style="background-color: #21b9bb;
      color: white;
      width: 50px;
      height: 50px;
      padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">10</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">No. of Masjid Salah</div>
      </div>
      <div class="d-flex align-items-center mb-2 mx-3 pt-3 pb-3">
        <nb-card
          style="background-color: #21b9bb;
      color: white;
      width: 50px;
      height: 50px;
      padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">10</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">No. of Personal Salah</div>
      </div>
    </div>
</nb-card>


<nb-card>
  <nb-card-header>
    List of All Salah
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (userRowSelect)="editSalah($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    List of Generic Salah
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="genericSalahssettings"
      [source]="genericSalahsSource"
      (deleteConfirm)="onDeleteConfirmCommonSalah($event)"
      (createConfirm)="pushNewCommonSalah($event)"
      (editConfirm)="editCommonSalah($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
