.yes-button {
  color: white;
  background-color: #21B9BB;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
}

.no-button {
  color: white;
  background-color: #ed5565;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  border: 0px;
}
