<nb-card>
    <nb-card-header>
      User Feedbacks
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table
        [settings]="adminApproveTableSettings"
        [source]="source"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
