<div class="d-flex justify-content-center mt-5" style="width: 100%">
<div style="width: 40%; min-width: 400px;">
    <nb-card>
      <nb-card-header>Add Email</nb-card-header>
      <nb-card-body>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" nbInput fullWidth placeholder="Masjid Name" />
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" nbInput fullWidth placeholder="Masjid Address" />
          </div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="User E-mail" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Zip Code" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Imam Name" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="City" class="form-control" />
        </div>
        <div class="input-group">
            <input type="text" placeholder="State" class="form-control" />
          </div>
        <div class="input-group">
          <input type="text" placeholder="Country" class="form-control" />
        </div>
        <div class="input-group">
          <input
            type="text"
            placeholder="Contact Number"
            class="form-control"
          />
        </div>
        <div class="input-group">
            <input type="text" placeholder="Image" class="form-control" />
          </div>
        <div class="input-group">
          <input type="text" placeholder="Image" class="form-control" />
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
          <div class="button cancelButton">Cancel</div>
          <div class="addButton">Add Masjid</div>
      </nb-card-footer>
    </nb-card>
</div>
</div>
