.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.admin-tag {
  color: white;
  background-color: #A7B1C2;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  border: 0px;

}

.admin-tag:focus {
  outline: none;
}
.imam-tag {
  color: white;
  background-color: #21B9BB;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  border: 0px;

}
.imam-tag:focus {
  outline: none;
}
