<div style="width: 150px" class="d-flex justify-content-center">
  <button *ngIf="value.imam" class="imam-tag unselectable mx-1">IMAM</button>
  <button *ngIf="value.admin" class="admin-tag unselectable mx-1" >ADMIN</button>
</div>
