@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-progress-bar ~ nb-progress-bar {
    margin-top: 1rem;
  }
}


  .nb-card {
    transform: translate3d(0, 0, 0);
  }

  .annual-monthly-card {
    position: fixed;
  z-index: 100;
    background-color: #ed5565;
    color: white;
    width: 60px;
    height: 60px;
    padding: 0px;
  }

  .lol {
    background-color: #ed5565;
    padding: 0px;
    color: purple;
  }

  .editModal {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 300px;
    height: 300px;
    left: 100px;
    right: 100px;
  }

  