<div *ngIf="value">
  <img class="proPic" [src]="value">
  <!-- <img *ngIf="!value && rowData.roles && !rowData.roles.imam" class="proPic" src="../../assets/images/userPhoto.png">
  <img *ngIf="!value && rowData.roles?.imam" class="proPic" src="../../assets/images/imamPhoto.png">
  <img *ngIf="!value && rowData.searchName" class="proPic" src="../../assets/images/masjidPhoto.png"> -->
</div>

<div *ngIf="!value && !rowData.roles">
  <img class="proPic" src="../../assets/images/masjidPhoto.png">
</div>

<div *ngIf="!value && rowData.roles">
    <img *ngIf="rowData.roles?.imam" class="proPic" src="../../assets/images/imamPhoto.png">
    <img *ngIf="!rowData.roles.imam" class="proPic" src="../../assets/images/userPhoto.png">
  </div>
