<div class="d-flex justify-content-center mt-5" style="width: 100%">
  <div style="width: 40%; min-width: 400px;">
    <nb-card>
      <nb-card-header>Add Event</nb-card-header>
      <nb-card-body>
        <div class="d-flex flex-row justify-content-center flex-wrap">
          <div style="width:45%; min-width: 200px;" class="mx-2">
            <div class="input-group">
              <input type="text" placeholder="Event Name" class="form-control" />
            </div>
            <div class="input-group">
              <select class="form-control">
                <option>Masjid A</option>
                <option>Masjid B</option>
                <option>Masjid C</option>
                <option>Masjid D</option>
                <option>Masjid E</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" placeholder="User E-mail" class="form-control" />
            </div>
            <div class="input-group">
              <select class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          <div style="width:45%; min-width: 200px;" class="mx-2">
            <div class="mb-4">
              <input nbInput placeholder="Start-End Date" [nbDatepicker]="rangepicker" style="width: 100%">
              <nb-rangepicker #rangepicker></nb-rangepicker>
            </div>
            <div class="input-group">
              <input type="text" placeholder="Start Time" class="form-control" />
            </div>
            <div class="input-group">
              <input type="text" placeholder="End Time" class="form-control" />
            </div>
            <div class="input-group">
              <select class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="input-group">
              <input type="text" placeholder="Silence Start at" class="form-control" />
            </div>
            <div class="input-group">
              <input type="text" placeholder="Silence End at" class="form-control" />
            </div>
            <div class="input-group">
              <select class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="input-group">
              <select class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>

          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
          <div class="button cancelButton">Cancel</div>
          <div class="addButton">Add Masjid</div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
