.active-button {
  color: white;
  background-color: #21B9BB;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
}

.disabled-button {
  color: white;
  background-color: #A7B1C2;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  cursor: pointer;
  border: 0px;
}



