<!-- User Information -->
<div class="d-flex flex-column">
  <h6 class="info">User Information</h6>
  <div class="d-flex flex-row flex-wrap">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalUsers.header"
        [chartValue]="totalUsers.chartValue"
        [number]="totalUsers.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalImams.header"
        [chartValue]="totalImams.chartValue"
        [number]="totalImams.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalAdmins.header"
        [chartValue]="totalAdmins.chartValue"
        [number]="totalAdmins.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="ImamPending.header"
        [chartValue]="ImamPending.chartValue"
        [number]="ImamPending.number"
      ></ngx-solar>
    </div>
  </div>
</div>

<!-- Masjid information -->
<div class="d-flex flex-column">
  <h6 class="info">Masjid information</h6>
  <div class="d-flex flex-row flex-wrap">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalMasajid.header"
        [chartValue]="totalMasajid.chartValue"
        [number]="totalMasajid.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalMasajidPending.header"
        [chartValue]="totalMasajidPending.chartValue"
        [number]="totalMasajidPending.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalSalah.header"
        [chartValue]="totalSalah.chartValue"
        [number]="totalSalah.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="totalCommonSalah.header"
        [chartValue]="totalCommonSalah.chartValue"
        [number]="totalCommonSalah.number"
      ></ngx-solar>
    </div>
  </div>
</div>

<!-- Download  information -->
<div class="d-flex flex-column">
  <h6 class="info">Download information</h6>
  <div class="d-flex flex-row flex-wrap">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="androidDownloads.header"
        [chartValue]="androidDownloads.chartValue"
        [number]="androidDownloads.number"
      ></ngx-solar>
    </div>

    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar
        [header]="iosDownloads.header"
        [chartValue]="iosDownloads.chartValue"
        [number]="iosDownloads.number"
      ></ngx-solar>
    </div>
  </div>
</div>

<!-- Android vs iOS chart -->
<!-- <div class="mt-4 p-3">
  <nb-card>
    <nb-card-header>Android Vs iOS Downloads</nb-card-header>
    <nb-card-body class="chart-size">
      <ngx-chartjs-line
        [data]="data"
        [options]="options"
      ></ngx-chartjs-line>
    </nb-card-body>
  </nb-card>
</div> -->

<!-- New Users Table -->
<nb-card>
  <nb-card-header>
    Pending Masjid Requests
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="pendingMasjidSettings" [source]="pendingMasjidSource" (deleteConfirm)="onDeleteConfirmMasjid($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- New Masjids Table -->
<nb-card>
  <nb-card-header>
    Imam Request Approval
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
    [settings]="pendingImamSettings" [source]="adminApprovalSource" (deleteConfirm)="onDeleteConfirmImam($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

