@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
 }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

.head {
  font-size: 20px;
}
.card-size {
  height: 400px;
  width: 400px;
}
.info {
  padding: 15px;
  font-weight: bold;
  color: #676a6c;
}
.chart-size {
  height: 340px;
}
