<div class="d-flex justify-content-center mt-5" style="width: 100%">
  <div style="width: 40%; min-width: 400px;">
    <nb-card>
      <nb-card-header>Add Salah</nb-card-header>
      <nb-card-body>
        <form #f="ngForm" novalidate>

          <div class="form-group">
            <label for="salah">Salah</label>
            <input type="text" class="form-control" name='salah' ngModel><br>
          </div>
          <div class="form-group">
            <label for="stime">Start Time</label>
            <input type="time" class="form-control" name='stime' ngModel>
          </div>
          <div class="form-group">
            <label for="etime">End Time</label>
            <input type="time" class="form-control" name='etime' ngModel><br>
          </div>
          <div class="form-group">
            <label for="stime">Start Date</label> <br>
            <input class="form-control" nbInput placeholder="Form Picker" [nbDatepicker]="startDate" name='sdate' ngModel>
            <nb-datepicker #startDate></nb-datepicker>
          </div>
          <div class="form-group">
            <label for="etime">End Date</label><br>
            <input class="form-control" nbInput placeholder="Form Picker" [nbDatepicker]="endDate" name='edate' ngModel>
            <nb-datepicker #endDate></nb-datepicker>
          </div>
          <div class="form-group">
            <label for="masjid">Masjid</label>
            <select name='m_name' class="form-control" ngModel>
              <option *ngFor="let masajid of verifiedMasajid" [value]="masajid.id">{{masajid.data.name}}</option>
            </select>
          </div>

          <div class="form-group d-flex flex-row flex-wrap justify-content-center">
            <div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.mon"
                (click)="changeDate('mon')">Mon</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.tue"
                (click)="changeDate('tue')">Tue</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.wed"
                (click)="changeDate('wed')">Wed</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.thu"
                (click)="changeDate('thu')">Thu</div>
            </div>
            <div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.fri"
                (click)="changeDate('fri')">Fri</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.sat"
                (click)="changeDate('sat')">Sat</div>
              <div class="btn repeatButton p-3 mt-2" [class.repeatButtonActive]="repeat.sun"
                (click)="changeDate('sun')">Sun</div>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <div class="button cancelButton">Cancel</div>
        <div (click)="onSubmitAdd(f)" class="addButton">Add Masjid</div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
