<!-- No. of Users – Monthly/Annual -->
<nb-card class="d-flex justify-content-center mb-4">
  <nb-card-header>No. of Users – Monthly/Annual</nb-card-header>
  <div class="d-flex flex-row justify-content-around flex-wrap mt-2">
    <!-- social media -->
    <div class="d-flex flex-row justify-content-around flex-wrap mt-2">
      <nb-card
        style="background-color: #3c5a9a; widows: 100px;height: 60px; padding: 10px"
        class="mx-2"
      >
        <div
          class="d-flex flex-row justify-content-between align-items-center"
          style="font-size: 30px; color: white; font-weight: bold"
        >
          <img
            width="50"
            height="40"
            src="https://1000logos.net/wp-content/uploads/2016/11/facebook-emblem.jpg"
          />
          <div style="margin-left: 100px">2</div>
        </div>
      </nb-card>
      <nb-card
        style="background-color: #28aae1; widows: 100px;height: 60px; padding: 5px"
        class="mx-2"
      >
        <div
          class="d-flex flex-row justify-content-between align-items-center"
          style="font-size: 30px; color: white; font-weight: bold"
        >
          <img
            width="50"
            height="50"
            src="https://seeklogo.com/images/T/twitter-2012-negative-logo-5C6C1F1521-seeklogo.com.png"
          />
          <div style="margin-left: 100px">2</div>
        </div>
      </nb-card>
      <nb-card
        style="background-color: white; widows: 100px;height: 60px; padding: 5px"
        class="mx-2"
      >
        <div
          class="d-flex flex-row justify-content-between align-items-center"
          style="font-size: 30px; color: white; font-weight: bold"
        >
          <img
            width="50"
            height="50"
            src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/102015/google-plus.png?itok=36-YQpMn"
          />
          <div style="margin-left: 100px; color: #dc4a3d">2</div>
        </div>
      </nb-card>
      <nb-card
        style="background-color: #21b9bb; widows: 100px;height: 60px; padding: 15px"
        class="mx-2"
      >
        <div
          class="d-flex flex-row justify-content-between align-items-center"
          style="font-size: 30px; color: white; font-weight: bold"
        >
          <i class="fas fa-envelope"></i>
          <div style="margin-left: 100px; color: white">2</div>
        </div>
      </nb-card>
    </div>
    <!-- No. of Users – Monthly/Annual Cards -->
    <div class="d-flex flex-row justify-content-around" style="height:80px">
      <div class="d-flex align-items-center mb-2 mx-3">
        <nb-card
          style="background-color: #ed5565;
  color: white;
  width: 50px;
  height: 50px;
  padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">40</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">Yearly</div>
      </div>
      <div class="d-flex align-items-center mb-2 mx-3">
        <nb-card
          style="background-color: #0E92D0;
    color: white;
    width: 50px;
    height: 50px;
    padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">20</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">Monthly</div>
      </div>
      <div class="d-flex align-items-center mb-2 mx-3">
        <nb-card
          style="background-color: #21b9bb;
      color: white;
      width: 50px;
      height: 50px;
      padding: 0px;"
          class="d-flex justify-content-center align-items-center mb-0 mt-0"
        >
          <nb-card-body
            style="padding: 0px"
            class="d-flex justify-content-center align-items-center"
          >
            <div style="font-size:30px">10</div>
          </nb-card-body>
        </nb-card>
        <div class="mx-3 d-flex" style="font-size:20px">Weekly</div>
      </div>
    </div>
  </div>
</nb-card>

<!-- Android Vs iOS Line Chart -->
<div class="d-flex flex-row flex-wrap justify-content-around">
  <nb-card style="width: 40vw; min-width:222px">
    <nb-card-header>Android/iOS</nb-card-header>
    <nb-card-body>
      <nb-progress-bar [value]="70" status="success" [displayValue]="true">
        Android</nb-progress-bar
      ><br />
      <nb-progress-bar [value]="30" status="warning" [displayValue]="true">
        iOS</nb-progress-bar
      >
    </nb-card-body>
  </nb-card>

  <!-- Age Group -->
  <nb-card style="width: 40vw; min-width:222px;">
    <nb-card-header>Age Group</nb-card-header>
    <nb-card-body>
      <div>
        <div class="d-flex justify-content-around">
          <div class="d-flex flex-row align-items-center">
            <nb-card
              style="background-color: #21b9bb;
        color: white;
        padding: 0px;"
              class="d-flex justify-content-center align-items-center mb-0 mt-0"
            >
              <nb-card-body
                style="padding: 0px"
                class="d-flex justify-content-center align-items-center"
              >
                <div style="font-size:20px;padding: 5px">18-25</div>
              </nb-card-body>
            </nb-card>
            <div class="mx-3 d-flex" style="font-size:20px">0</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <nb-card
              style="background-color: #0E92D0;
        color: white;
        padding: 0px;"
              class="d-flex justify-content-center align-items-center mb-0 mt-0"
            >
              <nb-card-body
                style="padding: 0px"
                class="d-flex justify-content-center align-items-center"
              >
                <div style="font-size:20px;padding: 5px">25-40</div>
              </nb-card-body>
            </nb-card>
            <div class="mx-3 d-flex" style="font-size:20px">0</div>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <div class="d-flex justify-content-around">
          <div class="d-flex flex-row align-items-center">
            <nb-card
              style="background-color: #1a7bb9;
          color: white;
          padding: 0px;"
              class="d-flex justify-content-center align-items-center mb-0 mt-0"
            >
              <nb-card-body
                style="padding: 0px"
                class="d-flex justify-content-center align-items-center"
              >
                <div style="font-size:20px;padding: 5px">40-50</div>
              </nb-card-body>
            </nb-card>
            <div class="mx-3 d-flex" style="font-size:20px">0</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <nb-card
              style="background-color: #ed5565;
          color: white; width: 60.45px;
          padding: 0px;"
              class="d-flex justify-content-center align-items-center mb-0 mt-0"
            >
              <nb-card-body
                style="padding: 0px"
                class="d-flex justify-content-center align-items-center"
              >
                <div style="font-size:20px;padding: 5px">50<</div>
              </nb-card-body>
            </nb-card>
            <div class="mx-3 d-flex" style="font-size:20px">0</div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<nb-card>
  <nb-card-header>
    List of Masjid Admins (Imams)
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="editUser($event)"

    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Imam Request Approval
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="adminApproveTableSettings"
      [source]="adminApprovalSource"
      (deleteConfirm)="onDeleteConfirmRequest($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
