@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-progress-bar ~ nb-progress-bar {
    margin-top: 1rem;
  }
  .editModal {
    background-color: white;
    width: 45vw;
    height:484px;
    z-index: 100;
    box-shadow: 5px 7px 5px -1px rgba(168,168,168,0.50);
  }
}


  .nb-card {
    transform: translate3d(0, 0, 0);
  }

  .annual-monthly-card {
    background-color: #ed5565;
    color: white;
    width: 60px;
    height: 60px;
    padding: 0px;
  }

  .lol {
    background-color: #ed5565;
    padding: 0px;
    color: purple;
  }
