<div *ngIf="modalToggler.toggle" class="d-flex justify-content-center align-items-center"
  style="width: 100vw;top: 0px; left: 0px; height: 100vh; position: fixed; overflow: scroll; z-index: 99;">
  <div (click)="modalToggle()" style="width: 100vw;top: 0px; left: 0px; height: 100vh; position: fixed; overflow: scroll; z-index: 99; background-color: rgba(0, 0, 0, 0.144);"></div>
  <div class="editModal" style="background-color: white; width: 45vw;height:615px; z-index: 100;
  box-shadow: 5px 7px 5px -1px rgba(168,168,168,0.50);">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-end">
        <button (click)="modalToggle()"
          style="width:5%;padding:10px; background-color: white; border: none; cursor: pointer; outline: none">X</button>
      </div>
      <div class="d-flex flex-column align-items-center" style="margin-top: 10px; height: 100%; width: 100%">
        <div style="width: 90%">


          <div class="form-group">Name: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.name">
          </div>
          <div class="form-group">E-mail: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.email">
          </div>
          <div class="form-group">City : <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.city">
          </div>
          <div class="form-group">Country: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.country">
          </div>
          <div class="form-group">State: <input class="form-control"
            style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.state">
        </div>
          <div class="form-group">Address: <input class="form-control"
              style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.address">
          </div>
          <div class="form-group">Zip Code: <input class="form-control"
            style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.zipCode">
        </div>
        <div class="form-group">Photo URL: <input class="form-control"
          style="height: 30px; margin-top:5px; margin-bottom: 5px" type="text" [(ngModel)]="masjidEdit.photoURL">
      </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info" (click)="saveEditedUser()">Edit User</button>
      </div>
    </div>
  </div>
</div>

<!-- No. of Users – Monthly/Annual -->
<nb-card class="d-flex justify-content-center mb-4">
  <nb-card-header>Data Analysis</nb-card-header>

  <!-- No. of Users – Monthly/Annual Cards -->
  <div class="d-flex flex-row justify-content-around" style="height:80px">
    <div class="d-flex align-items-center mb-2 mx-3 pt-3 pb-3">
      <nb-card style="background-color: #ed5565;
  color: white;
  width: 50px;
  height: 50px;
  padding: 0px;" class="d-flex justify-content-center align-items-center mb-0 mt-0">
        <nb-card-body style="padding: 0px" class="d-flex justify-content-center align-items-center">
          <div style="font-size:30px">40</div>
        </nb-card-body>
      </nb-card>
      <div class="mx-3 d-flex" style="font-size:20px">Verified</div>
    </div>
    <div class="d-flex align-items-center mb-2 mx-3 pt-3 pb-3">
      <nb-card style="background-color: #0E92D0;
    color: white;
    width: 50px;
    height: 50px;
    padding: 0px;" class="d-flex justify-content-center align-items-center mb-0 mt-0">
        <nb-card-body style="padding: 0px" class="d-flex justify-content-center align-items-center">
          <div style="font-size:30px">20</div>
        </nb-card-body>
      </nb-card>
      <div class="mx-3 d-flex" style="font-size:20px">Not Verified</div>
    </div>
    <div class="d-flex align-items-center mb-2 mx-3 pt-3 pb-3">
      <nb-card style="background-color: #21b9bb;
      color: white;
      width: 50px;
      height: 50px;
      padding: 0px;" class="d-flex justify-content-center align-items-center mb-0 mt-0">
        <nb-card-body style="padding: 0px" class="d-flex justify-content-center align-items-center">
          <div style="font-size:30px">10</div>
        </nb-card-body>
      </nb-card>
      <div class="mx-3 d-flex" style="font-size:20px">Pending</div>
    </div>
  </div>
</nb-card>


<nb-card>
  <nb-card-header>
    Verified Masjids
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" (custom)="onCustom($event)" [source]="source" (custom)="update($event)"
      (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="editMasjid($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Pending Masjid Requests
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="adminApproveTableSettings" [source]="adminApproveTableSource"
      (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
