<div class="width: 100% d-flex justify-content-center">
  <!-- <button class="view-button" (click)="openModal()">View</button> -->
  <label class="view-label" (click)="openModal()">View</label>
</div>

<!-- viewUserModal -->
<div class="viewUserModal d-flex flex-column" *ngIf="modalOpen">
  <div class="full-name-inputs px-3" style="width: 50vh; padding-top: 50px; padding-bottom: 50px; ">
    <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column mx-2">
        <div class="input-group">
          <input type="text" placeholder="Masjid Name" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Masjid Address" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="User E-mail" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Zip Code" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Imam Name" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="City" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="State" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Country" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Contact Number" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Image" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Image" class="form-control" />
        </div>
      </div>
      <div class="d-flex flex-column mx-2">
        <div class="input-group">
          <input type="text" placeholder="Image" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Contact Number" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Imam Name" class="form-control" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Is Admin?" class="form-control" />
        </div>
        <div style="width: 100%" class="d-flex justify-content-end mt-3">
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%" class="d-flex justify-content-end p-3">
    <button class="view-button p-2 " (click)="openModal()">Cancel</button>
  </div>
</div>
