.view-button {
  color: white;
  background-color: #0E92D0;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  cursor: pointer;
  border: 0px;
}

.viewUserModal {
  background-color: white;
  left: 40vw;
  top: 100vh;
  box-shadow: 0 4px 14px 0 rgba(156, 156, 156, 0.4);
  position: fixed;
  margin-top: -70vh;
  z-index: 2000;
  display: flex;
}

.cancel-button {
  color: white;
  background-color: #ED5565;
  padding: 0.1rem 1rem;
  border-radius: 0.4rem;
  font-size: 14px;
  cursor: pointer;
  border: 0px;
}

.view-label {
  color: #0E92D0;
  font-size: 14px;
  cursor: pointer;
}
