<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Khushu-<span>admin</span></div>
  </div>
</div>

<div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user style="margin-right: 5px" [name]="user?.name" [picture]="user?.picture"></nb-user>
      |
      <div style="cursor: pointer; margin-left: 5px" (click)="onMenuItemClick()">Logout</div>
    </nb-action>
  </nb-actions>
</div>
