<nb-card size="xsmall" class="solar-card">
  <nb-card-header>Solar Energy Consumption</nb-card-header>
  <nb-card-body>
    <div echarts [options]="option" class="echart">
    </div>
    <div class="info">
      <div class="value">6. 421 kWh</div>
      <div class="details"><span>out of</span> 8.421 kWh</div>
    </div>
  </nb-card-body>
</nb-card>
