@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  $padding: 1rem;

  nb-card-body {
    overflow: hidden;
    padding: $padding;
  }

  .echart {
    position: absolute;
    left: 1em;
    height: calc(100% - 2 * #{$padding});
    width: 40%;
  }

  .info {
    margin-left: 45%;
    padding-top: 1.5rem;
    color: nb-theme(color-fg);
  }

  .value {
    font-family: nb-theme(font-secondary);
    font-size: 2rem;
    font-weight: nb-theme(font-weight-bold);
    color: nb-theme(color-fg-heading);
  }

  .details {
    font-size: 1.25rem;
    font-weight: nb-theme(font-weight-bolder);
    line-height: 1;
    span {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .text-hint {
    font-size: 1rem;
  }

  @include nb-for-theme(cosmic) {
    color: nb-theme(color-fg-heading);

    .value {
      color: nb-theme(color-fg-highlight);
    }

    .details span {
      color: nb-theme(color-fg);
    }
  }

  @include media-breakpoint-down(xs) {
    .value {
      font-size: 1.75rem;
    }
  }
}

.number-size {
  // font-family: 'open sans';
  font-size: 40px;
  color: #676a6c;
}
.card-body {
  height: 100px;
}
.card-header {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chart-size {
  width: 60px;
  height: 60px;
}
