<nb-card class="solar-card ">
  <nb-card-header class="card-header">{{header}}</nb-card-header>
  <nb-card-body class="card-body d-flex justify-content-between">
    <div class="d-flex align-items-start">
      <div class="number-size">{{number}}</div>
    </div>
    <div class="d-flex align-items-end">
      <div echarts [options]="option" class="chart-size"></div>
    </div>
  </nb-card-body>
</nb-card>
